streamlit
faster-whisper
edge-tts
pymupdf
sentence-transformers
chromadb
requests
python-dotenv

livekit-agents
livekit-plugins-openai
livekit-plugins-google
livekit-plugins-noise-cancellation
pydantic-ai-slim[openai, mcp]
protobuf==6.33.6